// l-
.l-headerInner {
    display: block;
    background: $primaryLight;
    padding: 100px 0;
    h1 {
        color: $secondary;
    }
}

// s-
.s-onlyText {
    p {
        @include paragrafos();
    }
    ol, ul {
        margin-bottom: 20px;
        li {
            display: list-item;
            list-style-position: inside;
            @include paragrafos($mb: 10px);
        }
    }
    ol {
        li {
            list-style-type: decimal-leading-zero;
        }
    }
    ul {
        li {
            list-style-type: disc;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 10px;
    }
}

// #
#page__components {
    padding: 60px 50px;
    .gridComponent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .component {
        @include roundedAll(10px);
        flex: 1 1 auto;
        max-width: 380px;
        min-width: 280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 10px;
        background: teal;
        .component__header {
            padding: 15px;
            > h2 {
                color: $white;
                font-size: 18px;
            }
        }
        .component__content {
            @include roundedAll(10px);
            display: block;
            padding: 15px;
            background: $white;
            border: 3px solid teal;
            flex: 1 1 auto;
        }
        .content__hero {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $mutedGray;
            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
            > h3 {
                color: $baseGray;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                margin-bottom: 4px;
            }
            .obs {
                font-size: 14px;
                color: $text;
                display: block;
                width: 100%;
                margin-top: 5px;
                padding-top: 5px;
                border-top: 1px solid $mutedGray;
                strong {
                    font-weight: bold;
                }
                u {
                    text-decoration: underline;
                }
                i {
                    font-style: italic;
                }
            }
        }
    }
    > section {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $mutedGray;
        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
        > h1 {
            color: $primary;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
    
    .subMenuTeste {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }
}
#page__carreiras {
    .module__carreiras {
        .stepCarrer {
            display: block;
            margin-top: 80px;
            &:first-of-type {
                margin-top: 40px;
                .carrer__content {
                    padding-top: 20px;
                }
            }
        }
        .job__hero {
            overflow: hidden;
            display: block;
            position: relative;
            background: $white;
            margin-bottom: 15px;
            border: 1px solid $mutedGray;
            &:last-of-type {
                margin-bottom: 0;
            }
            
            // head elements
            .job__head {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                min-height: 80px;
                padding: 0 30px;
                z-index: 2;
            }
            .head__content {
                flex: 0 1 auto;
            }
            .head__check {
                input {
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: $mutedGray;
                    border: 1px solid $mediumGray;
                    cursor: pointer;
                    &:checked {
                        background-color: $primaryDark;
                        background-image: url(#{$media_icons}icon_checked.svg);
                        background-position: center;
                        background-size: contain;
                        border: 1px solid $lightGray;
                    }
                }
            }
            .head__cod {
                padding-left: 10px;
                color: $text;
                font-size: 14px;
                min-width: 54px;
                cursor: pointer;
            }
            .head__title {
                flex: 1 1 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                padding-left: 60px;
                padding-right: 60px;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 30px;
                    background: $mediumGray;
                    position: absolute;
                    left: 30px;
                    top: 50%;
                    @include transforms(translateY(-50%), center);
                }
                h4 {
                    display: block;
                    color: $text;
                    font-size: 18px;
                    margin-bottom: 0;
                    margin-right: 15px;
                }
                .head__place {
                    @include roundedAll(10px);
                    @include letterSpacing(25);
                    color: $text;
                    white-space: nowrap;
                    //display: block;
                    display: none;
                    padding: 0 10px;
                    background: $lightGray;
                    height: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                    font-size: 10px;
                }
            }
            .head__share {
                position: relative;
                display: block;
                &:before {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 30px;
                    background: $mediumGray;
                    position: absolute;
                    left: -30px;
                    top: 50%;
                    @include transforms(translateY(-50%), center);
                }
                .share__call {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    i {
                        flex: 1 1 20px;
                        width: 20px;
                        height: 22px;
                        svg {
                            width: 20px;
                            height: 20px;
                            path {
                                @include transition();
                            }
                        }
                    }
                    span {
                        display: block;
                        padding-left: 5px;
                        font-size: 14px;
                        color: $text;
                    }
                    &:hover {
                        i svg path {
                            fill: #000;
                        }
                        span {
                            color: #222;
                        }
                    }
                }
                .share__options {
                    @include transition();
                    @include u-hideElement();
                    @include roundedAll(17px);
                    @include transforms(translateY(-50%), center);
                    background: $secondary;
                    border: 2px solid $secondaryDark;
                    padding: 0 5px 0 10px;
                    height: 34px;
                    min-width: 100px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    cursor: default;
                    li {
                        @include transition();
                        display: block;
                        position: relative;
                        cursor: pointer;
                        margin-right: 15px;
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                    .iconItem {
                        display: block;
                        white-space: nowrap;
                        color: $white;
                        font-size: 12px;
                        svg {
                            display: block;
                            width: 18px;
                            height: 18px;
                            path {
                                @include transition();
                            }
                        }
                        &:hover {
                            svg path {
                                fill: #222;
                            }
                        }
                    }
                    .js-options__close {
                        @include roundedAll(11px);
                        will-change: transform;
                        background: $secondaryDark;
                        width: 22px;
                        height: 22px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        padding: 7px;
                        &:hover {
                            @include transforms(rotate(90deg), center)
                        }
                        svg {
                            width: 8px;
                            height: 8px;
                        }
                    }
                    .js-copyLink {
                        .inputLinkHero {
                            span {
                                @include roundedAll(10px);
                                @include u-hideElement();
                                position: absolute;
                                background: $secondaryDark;
                                width: 100px;
                                display: block;
                                text-align: center;
                                left: -50px;
                                color: $white;
                                font-size: 12px;
                                white-space: nowrap;
                                height: 18px;
                                line-height: 18px;
                                &.is-active {
                                    @include u-showElement();
                                }
                            }
                            input {
                                //@include u-hideElement();
                                @include opacity(0.1);
                                bottom: 0;
                                left: 0;
                                position: fixed;
                                width: 1px;
                                height: 1px;
                            }
                        }
                    }
                    &.is-active {
                        @include u-showElement();
                        right: -2px;
                    }
                }
            }
            .head__readMore {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                cursor: pointer;
                align-items: center;
                margin-left: 60px;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 30px;
                    background: $mediumGray;
                    position: absolute;
                    left: -30px;
                    top: 50%;
                    @include transforms(translateY(-50%), center);
                }
                &:after {
                    @include transforms(rotate(0deg), center);
                    @include transition();
                    content: '';
                    width: 12px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    bottom: 8px;
                    right: 0;
                    background: url(#{$media_assets}caret-down.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
                span {
                    @include transition();
                    white-space: nowrap;
                    display: block;
                    padding-right: 20px;
                    font-size: 14px;
                    color: $text;
                }
                &:hover {
                    span {
                        color: $primary;
                    }
                }
            }
            
            // infos about the job
            .job__infos {
                @include u-hideElement();
                @include scroll();
                overflow: auto;
                max-height: 0px;
                display: block;
                position: relative;
                z-index: 2;
                padding: 0px 30px 0px 30px;
            }
            .infos__content {
                display: block;
                margin-bottom: 40px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                h5 {
                    color: $secondary;
                }
                p {
                    color: $text !important;
                }
            }
            .requirements__list {
                li {
                    position: relative;
                    margin-bottom: 5px;
                    padding-left: 18px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    &:before {
                        content: '';
                        //background: url(#{$media_assets}shape_btn_fill.png);
                        background: $primaryDark;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: block;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        @include transforms(translateY(-50%), center);
                        top: 50%;
                        left: 0;
                    }
                }
            }
            .benefits__list {
                li {
                    display: inline-block;
                    background: $mutedGray;
                    margin: 5px 5px 5px 0;
                    padding: 15px 20px;
                }
            }
            .select__check {
                @include transition();
                border: 2px solid $secondary;
                height: 60px;
                padding: 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;
                cursor: pointer;
                position: relative;
                max-width: 240px;
                span {
                    @include paragrafos();
                    text-align: center;
                    display: block;
                    width: 100%;
                }
                &:hover {
                    border: 2px solid $primary;
                }
                &.is-active {
                    border: 2px solid #000;
                    background: #222;
                    span {
                        color: $white;
                    }
                }
            }
        }
        .job__hero.is-active {
            // head elements
            .head__title {
                h4 {
                    color: $secondary
                }
            }
            .head__readMore {
                &:after {
                    @include transforms(rotate(180deg), center);
                }
                span {
                    color: $secondary;
                }
                i {
                    @include transforms(rotate(60deg), center);
                    //background: url(#{$media_assets}shape_btn_fill.png);
                    background: $primaryDark;
                    &:after {
                        @include transforms(rotate(30deg), center);
                        left: 16px;
                        top: 12px;
                        //background: url(#{$media_assets}caret_right_white.png);
                        background: $primaryDark;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                    }
                }
            }
            
            // infos about the job
            .job__infos {
                @include u-showElement();
                max-height: 1200px;
                display: block;
                position: relative;
                z-index: 2;
                padding: 20px 30px 30px 30px;
            }
        }
        .listOfSelectedJobs {
            display: block;
            background: $white;
            @include paragrafos();
            @include scroll();
            overflow: auto;
            max-height: 210px;
            min-height: 50px;
            line-height: 40px;
            padding: 5px 0px;
            span {
                position: relative;
                border-bottom: $lightGray;
                margin-bottom: 0;
                display: block;
                width: 100%;
                border-top: 1px solid $lightGray;
                min-height: 40px;
                padding: 8px 50px 8px 20px;
                background: $white;
                line-height: 22px;
                &:hover {
                    background: $mutedGray;
                }
                &:first-of-type {
                    border-top: 1px solid $white;
                }
            }
            div {
                @include transforms(translateY(-50%), center);
                @include opacity(0.4);
                @include transition();
                background: url(#{$media_icons}icon_trash.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                cursor: pointer;
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                right: 20px;
                &:hover {
                    @include opacity(0.6);
                }
            }
        }
    }
}
#page__erro404 {
    display: flex;
    align-items: center;
    .u-container {
        text-align: center;
    }
    h2 {
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 50px;
        span {
            display: block;
            text-align: center;
        }
        .erro_caption {
            font-size: 50px;
        }
        .erro_code {
            font-size: 100px;
        }
    }
    h3 {
        padding: 30px 0;
        font-size: 50px;
        line-height: 1;
    }
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
}

